RELEASED docs/VISI 1.3 definitie/Top Koks testproject/Top Koks testproject/10.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- created with VISI DLL, EXP2XSD part, created by Peter Bonsma  -->
<xsd:schema targetNamespace="http://www.visi.nl/TestFramework" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:="http://www.visi.nl/TestFramework" elementFormDefault="qualified">

	<!-- root element declaration (for SCHEMA definitions) -->
	<xsd:element name="ISO29481_Part_2B">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref=":AppRapport"/>
				<xsd:element ref=":AppTekening"/>
				<xsd:element ref=":AppVideo"/>
				<xsd:element ref=":AppendixGroup"/>
				<xsd:element ref=":BerichtInTransactie1"/>
				<xsd:element ref=":BerichtInTransactie10"/>
				<xsd:element ref=":BerichtInTransactie11"/>
				<xsd:element ref=":BerichtInTransactie12"/>
				<xsd:element ref=":BerichtInTransactie13"/>
				<xsd:element ref=":BerichtInTransactie14"/>
				<xsd:element ref=":BerichtInTransactie15"/>
				<xsd:element ref=":BerichtInTransactie16"/>
				<xsd:element ref=":BerichtInTransactie2"/>
				<xsd:element ref=":BerichtInTransactie3"/>
				<xsd:element ref=":BerichtInTransactie4"/>
				<xsd:element ref=":BerichtInTransactie5"/>
				<xsd:element ref=":BerichtInTransactie6"/>
				<xsd:element ref=":BerichtInTransactie7"/>
				<xsd:element ref=":BerichtInTransactie8"/>
				<xsd:element ref=":BerichtInTransactie9"/>
				<xsd:element ref=":CeAntwoord"/>
				<xsd:element ref=":CeBestelling"/>
				<xsd:element ref=":CeInhoudBestelling"/>
				<xsd:element ref=":CeInhoudMenuKaart"/>
				<xsd:element ref=":CeJaNee"/>
				<xsd:element ref=":CeMenuKaart"/>
				<xsd:element ref=":CeMenuKaartType"/>
				<xsd:element ref=":CeOrganisatie"/>
				<xsd:element ref=":CeRapport"/>
				<xsd:element ref=":CeReactieTermijn"/>
				<xsd:element ref=":CeSOAP"/>
				<xsd:element ref=":CeTekening"/>
				<xsd:element ref=":CeVideo"/>
				<xsd:element ref=":CeVraag"/>
				<xsd:element ref=":PersonInRole"/>
				<xsd:element ref=":ProjectType1"/>
				<xsd:element ref=":StandardGroupType"/>
				<xsd:element ref=":StandardOrganisationType"/>
				<xsd:element ref=":StandardPersonType"/>
				<xsd:element ref=":aanvaardEinde"/>
				<xsd:element ref=":beloofdExecutie"/>
				<xsd:element ref=":keukenhulp"/>
				<xsd:element ref=":klant"/>
				<xsd:element ref=":kok"/>
				<xsd:element ref=":meldingGereed"/>
				<xsd:element ref=":msgAanbiedingMenuKaart"/>
				<xsd:element ref=":msgAntwoord"/>
				<xsd:element ref=":msgBestellingAkkoord"/>
				<xsd:element ref=":msgBestellingNietAkkoord"/>
				<xsd:element ref=":msgJa"/>
				<xsd:element ref=":msgNee"/>
				<xsd:element ref=":msgPlaatsingBestelling"/>
				<xsd:element ref=":msgVraag"/>
				<xsd:element ref=":msgWiltuDeKaartZien"/>
				<xsd:element ref=":ober"/>
				<xsd:element ref=":start"/>
				<xsd:element ref=":t1_OpnameBestelling"/>
				<xsd:element ref=":t2_VraagOberAanKok"/>
				<xsd:element ref=":t3_OpdrachtKok"/>
				<xsd:element ref=":t4_VraagKokAanKeukenhulp"/>
				<xsd:element ref=":verzocht"/>
				<xsd:element ref=":wijzigingHold"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<!-- element declarations (for ENTITY definitions) -->
	<xsd:element name="AppRapport" type=":AppRapportType"/>
	<xsd:element name="AppTekening" type=":AppTekeningType"/>
	<xsd:element name="AppVideo" type=":AppVideoType"/>
	<xsd:element name="AppendixGroup" type=":AppendixGroupType"/>
	<xsd:element name="BerichtInTransactie1" type=":BerichtInTransactie1Type"/>
	<xsd:element name="BerichtInTransactie10" type=":BerichtInTransactie10Type"/>
	<xsd:element name="BerichtInTransactie11" type=":BerichtInTransactie11Type"/>
	<xsd:element name="BerichtInTransactie12" type=":BerichtInTransactie12Type"/>
	<xsd:element name="BerichtInTransactie13" type=":BerichtInTransactie13Type"/>
	<xsd:element name="BerichtInTransactie14" type=":BerichtInTransactie14Type"/>
	<xsd:element name="BerichtInTransactie15" type=":BerichtInTransactie15Type"/>
	<xsd:element name="BerichtInTransactie16" type=":BerichtInTransactie16Type"/>
	<xsd:element name="BerichtInTransactie2" type=":BerichtInTransactie2Type"/>
	<xsd:element name="BerichtInTransactie3" type=":BerichtInTransactie3Type"/>
	<xsd:element name="BerichtInTransactie4" type=":BerichtInTransactie4Type"/>
	<xsd:element name="BerichtInTransactie5" type=":BerichtInTransactie5Type"/>
	<xsd:element name="BerichtInTransactie6" type=":BerichtInTransactie6Type"/>
	<xsd:element name="BerichtInTransactie7" type=":BerichtInTransactie7Type"/>
	<xsd:element name="BerichtInTransactie8" type=":BerichtInTransactie8Type"/>
	<xsd:element name="BerichtInTransactie9" type=":BerichtInTransactie9Type"/>
	<xsd:element name="CeAntwoord" type=":CeAntwoordType"/>
	<xsd:element name="CeBestelling" type=":CeBestellingType"/>
	<xsd:element name="CeInhoudBestelling" type=":CeInhoudBestellingType"/>
	<xsd:element name="CeInhoudMenuKaart" type=":CeInhoudMenuKaartType"/>
	<xsd:element name="CeJaNee" type=":CeJaNeeType"/>
	<xsd:element name="CeMenuKaart" type=":CeMenuKaartType"/>
	<xsd:element name="CeMenuKaartType" type=":CeMenuKaartTypeType"/>
	<xsd:element name="CeOrganisatie" type=":CeOrganisatieType"/>
	<xsd:element name="CeRapport" type=":CeRapportType"/>
	<xsd:element name="CeReactieTermijn" type=":CeReactieTermijnType"/>
	<xsd:element name="CeSOAP" type=":CeSOAPType"/>
	<xsd:element name="CeTekening" type=":CeTekeningType"/>
	<xsd:element name="CeVideo" type=":CeVideoType"/>
	<xsd:element name="CeVraag" type=":CeVraagType"/>
	<xsd:element name="PersonInRole" type=":PersonInRoleType"/>
	<xsd:element name="ProjectType1" type=":ProjectType1Type"/>
	<xsd:element name="StandardGroupType" type=":StandardGroupTypeType"/>
	<xsd:element name="StandardOrganisationType" type=":StandardOrganisationTypeType"/>
	<xsd:element name="StandardPersonType" type=":StandardPersonTypeType"/>
	<xsd:element name="aanvaardEinde" type=":aanvaardEindeType"/>
	<xsd:element name="beloofdExecutie" type=":beloofdExecutieType"/>
	<xsd:element name="keukenhulp" type=":keukenhulpType"/>
	<xsd:element name="klant" type=":klantType"/>
	<xsd:element name="kok" type=":kokType"/>
	<xsd:element name="meldingGereed" type=":meldingGereedType"/>
	<xsd:element name="msgAanbiedingMenuKaart" type=":msgAanbiedingMenuKaartType"/>
	<xsd:element name="msgAntwoord" type=":msgAntwoordType"/>
	<xsd:element name="msgBestellingAkkoord" type=":msgBestellingAkkoordType"/>
	<xsd:element name="msgBestellingNietAkkoord" type=":msgBestellingNietAkkoordType"/>
	<xsd:element name="msgJa" type=":msgJaType"/>
	<xsd:element name="msgNee" type=":msgNeeType"/>
	<xsd:element name="msgPlaatsingBestelling" type=":msgPlaatsingBestellingType"/>
	<xsd:element name="msgVraag" type=":msgVraagType"/>
	<xsd:element name="msgWiltuDeKaartZien" type=":msgWiltuDeKaartZienType"/>
	<xsd:element name="ober" type=":oberType"/>
	<xsd:element name="start" type=":startType"/>
	<xsd:element name="t1_OpnameBestelling" type=":t1_OpnameBestellingType"/>
	<xsd:element name="t2_VraagOberAanKok" type=":t2_VraagOberAanKokType"/>
	<xsd:element name="t3_OpdrachtKok" type=":t3_OpdrachtKokType"/>
	<xsd:element name="t4_VraagKokAanKeukenhulp" type=":t4_VraagKokAanKeukenhulpType"/>
	<xsd:element name="verzocht" type=":verzochtType"/>
	<xsd:element name="wijzigingHold" type=":wijzigingHoldType"/>

	<!-- element reference declarations (for ENTITY definitions) -->
	<xsd:element name="AppRapportRef" type=":AppRapportTypeRef"/>
	<xsd:element name="AppTekeningRef" type=":AppTekeningTypeRef"/>
	<xsd:element name="AppVideoRef" type=":AppVideoTypeRef"/>
	<xsd:element name="AppendixGroupRef" type=":AppendixGroupTypeRef"/>
	<xsd:element name="BerichtInTransactie1Ref" type=":BerichtInTransactie1TypeRef"/>
	<xsd:element name="BerichtInTransactie10Ref" type=":BerichtInTransactie10TypeRef"/>
	<xsd:element name="BerichtInTransactie11Ref" type=":BerichtInTransactie11TypeRef"/>
	<xsd:element name="BerichtInTransactie12Ref" type=":BerichtInTransactie12TypeRef"/>
	<xsd:element name="BerichtInTransactie13Ref" type=":BerichtInTransactie13TypeRef"/>
	<xsd:element name="BerichtInTransactie14Ref" type=":BerichtInTransactie14TypeRef"/>
	<xsd:element name="BerichtInTransactie15Ref" type=":BerichtInTransactie15TypeRef"/>
	<xsd:element name="BerichtInTransactie16Ref" type=":BerichtInTransactie16TypeRef"/>
	<xsd:element name="BerichtInTransactie2Ref" type=":BerichtInTransactie2TypeRef"/>
	<xsd:element name="BerichtInTransactie3Ref" type=":BerichtInTransactie3TypeRef"/>
	<xsd:element name="BerichtInTransactie4Ref" type=":BerichtInTransactie4TypeRef"/>
	<xsd:element name="BerichtInTransactie5Ref" type=":BerichtInTransactie5TypeRef"/>
	<xsd:element name="BerichtInTransactie6Ref" type=":BerichtInTransactie6TypeRef"/>
	<xsd:element name="BerichtInTransactie7Ref" type=":BerichtInTransactie7TypeRef"/>
	<xsd:element name="BerichtInTransactie8Ref" type=":BerichtInTransactie8TypeRef"/>
	<xsd:element name="BerichtInTransactie9Ref" type=":BerichtInTransactie9TypeRef"/>
	<xsd:element name="CeAntwoordRef" type=":CeAntwoordTypeRef"/>
	<xsd:element name="CeBestellingRef" type=":CeBestellingTypeRef"/>
	<xsd:element name="CeInhoudBestellingRef" type=":CeInhoudBestellingTypeRef"/>
	<xsd:element name="CeInhoudMenuKaartRef" type=":CeInhoudMenuKaartTypeRef"/>
	<xsd:element name="CeJaNeeRef" type=":CeJaNeeTypeRef"/>
	<xsd:element name="CeMenuKaartRef" type=":CeMenuKaartTypeRef"/>
	<xsd:element name="CeMenuKaartTypeRef" type=":CeMenuKaartTypeTypeRef"/>
	<xsd:element name="CeOrganisatieRef" type=":CeOrganisatieTypeRef"/>
	<xsd:element name="CeRapportRef" type=":CeRapportTypeRef"/>
	<xsd:element name="CeReactieTermijnRef" type=":CeReactieTermijnTypeRef"/>
	<xsd:element name="CeSOAPRef" type=":CeSOAPTypeRef"/>
	<xsd:element name="CeTekeningRef" type=":CeTekeningTypeRef"/>
	<xsd:element name="CeVideoRef" type=":CeVideoTypeRef"/>
	<xsd:element name="CeVraagRef" type=":CeVraagTypeRef"/>
	<xsd:element name="PersonInRoleRef" type=":PersonInRoleTypeRef"/>
	<xsd:element name="ProjectType1Ref" type=":ProjectType1TypeRef"/>
	<xsd:element name="StandardGroupTypeRef" type=":StandardGroupTypeTypeRef"/>
	<xsd:element name="StandardOrganisationTypeRef" type=":StandardOrganisationTypeTypeRef"/>
	<xsd:element name="StandardPersonTypeRef" type=":StandardPersonTypeTypeRef"/>
	<xsd:element name="aanvaardEindeRef" type=":aanvaardEindeTypeRef"/>
	<xsd:element name="beloofdExecutieRef" type=":beloofdExecutieTypeRef"/>
	<xsd:element name="keukenhulpRef" type=":keukenhulpTypeRef"/>
	<xsd:element name="klantRef" type=":klantTypeRef"/>
	<xsd:element name="kokRef" type=":kokTypeRef"/>
	<xsd:element name="meldingGereedRef" type=":meldingGereedTypeRef"/>
	<xsd:element name="msgAanbiedingMenuKaartRef" type=":msgAanbiedingMenuKaartTypeRef"/>
	<xsd:element name="msgAntwoordRef" type=":msgAntwoordTypeRef"/>
	<xsd:element name="msgBestellingAkkoordRef" type=":msgBestellingAkkoordTypeRef"/>
	<xsd:element name="msgBestellingNietAkkoordRef" type=":msgBestellingNietAkkoordTypeRef"/>
	<xsd:element name="msgJaRef" type=":msgJaTypeRef"/>
	<xsd:element name="msgNeeRef" type=":msgNeeTypeRef"/>
	<xsd:element name="msgPlaatsingBestellingRef" type=":msgPlaatsingBestellingTypeRef"/>
	<xsd:element name="msgVraagRef" type=":msgVraagTypeRef"/>
	<xsd:element name="msgWiltuDeKaartZienRef" type=":msgWiltuDeKaartZienTypeRef"/>
	<xsd:element name="oberRef" type=":oberTypeRef"/>
	<xsd:element name="startRef" type=":startTypeRef"/>
	<xsd:element name="t1_OpnameBestellingRef" type=":t1_OpnameBestellingTypeRef"/>
	<xsd:element name="t2_VraagOberAanKokRef" type=":t2_VraagOberAanKokTypeRef"/>
	<xsd:element name="t3_OpdrachtKokRef" type=":t3_OpdrachtKokTypeRef"/>
	<xsd:element name="t4_VraagKokAanKeukenhulpRef" type=":t4_VraagKokAanKeukenhulpTypeRef"/>
	<xsd:element name="verzochtRef" type=":verzochtTypeRef"/>
	<xsd:element name="wijzigingHoldRef" type=":wijzigingHoldTypeRef"/>

	<!-- complex types for element declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppRapportType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="fileLocation" type="xsd:string"/>
					<xsd:element name="fileType" type="xsd:string"/>
					<xsd:element name="fileVersion" type="xsd:string"/>
					<xsd:element name="documentIdentification" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentVersion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentReference" type="xsd:string" minOccurs="0"/>
					<xsd:element name="objectCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="message">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixGroup" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":AppendixGroup"/>
								<xsd:element ref=":AppendixGroupRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceRapport" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeRapport"/>
								<xsd:element ref=":CeRapportRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppTekeningType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="fileLocation" type="xsd:string"/>
					<xsd:element name="fileType" type="xsd:string"/>
					<xsd:element name="fileVersion" type="xsd:string"/>
					<xsd:element name="documentIdentification" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentVersion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentReference" type="xsd:string" minOccurs="0"/>
					<xsd:element name="objectCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="message">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixGroup" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":AppendixGroup"/>
								<xsd:element ref=":AppendixGroupRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceTekening" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeTekening"/>
								<xsd:element ref=":CeTekeningRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppVideoType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="fileLocation" type="xsd:string"/>
					<xsd:element name="fileType" type="xsd:string"/>
					<xsd:element name="fileVersion" type="xsd:string"/>
					<xsd:element name="documentIdentification" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentVersion" type="xsd:string" minOccurs="0"/>
					<xsd:element name="documentReference" type="xsd:string" minOccurs="0"/>
					<xsd:element name="objectCode" type="xsd:string" minOccurs="0"/>
					<xsd:element name="startDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="endDate" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="message">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixGroup" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":AppendixGroup"/>
								<xsd:element ref=":AppendixGroupRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceVideo" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeVideo"/>
								<xsd:element ref=":CeVideoRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppendixGroupType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="group" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":StandardGroupType"/>
								<xsd:element ref=":StandardGroupTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie1Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie10Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie11Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie12Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie13Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie14Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie15Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie16Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie2Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie3Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie4Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie5Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie6Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie7Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie8Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie9Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeAntwoordType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="antwoord" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeBestellingType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="ceInhoudBestelling" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeInhoudBestelling"/>
								<xsd:element ref=":CeInhoudBestellingRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeInhoudBestellingType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="naamGerecht" type="xsd:string"/>
					<xsd:element name="opmerking" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeInhoudMenuKaartType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="naamMenukaartItem" type="xsd:string"/>
					<xsd:element name="omschrijving" type="xsd:string"/>
					<xsd:element name="prijs" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeJaNeeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="wachttijd" type="xsd:integer"/>
					<xsd:element name="jaNee" type="xsd:boolean"/>
					<xsd:element name="opmerking" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeMenuKaartType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="ceInhoudMenuKaart" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeInhoudMenuKaart"/>
								<xsd:element ref=":CeInhoudMenuKaartRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="menuKaartType" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeMenuKaartTypeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="menuKaartType" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeOrganisatieType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="sOAPServerURL" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeRapportType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="auteur" type="xsd:string"/>
					<xsd:element name="versie" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeReactieTermijnType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="wachttijd" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeSOAPType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="sOAPProtocol" type="xsd:string"/>
					<xsd:element name="sOAPServerURL" type="xsd:string"/>
					<xsd:element name="sOAPCentralServerURL" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeTekeningType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="aantalLagen" type="xsd:integer"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeVideoType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="videoFormaat" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeVraagType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="vraag" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonInRoleType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="successor" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="substituting" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="contactPerson">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":StandardPersonType"/>
								<xsd:element ref=":StandardPersonTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="organisation">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":StandardOrganisationType"/>
								<xsd:element ref=":StandardOrganisationTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="role">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":RoleTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectType1Type">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ceSOAP" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeSOAP"/>
								<xsd:element ref=":CeSOAPRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardGroupTypeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="creationDate" type="xsd:dateTime"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="versionNo" type="xsd:string"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardOrganisationTypeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="abbreviation" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="contactPerson">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":StandardPersonType"/>
								<xsd:element ref=":StandardPersonTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceOrganisatie" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeOrganisatie"/>
								<xsd:element ref=":CeOrganisatieRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardPersonTypeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="userName" type="xsd:string"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="aanvaardEindeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="beloofdExecutieType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="keukenhulpType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="klantType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="kokType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="meldingGereedType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgAanbiedingMenuKaartType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceMenuKaart" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeMenuKaart"/>
								<xsd:element ref=":CeMenuKaartRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgAntwoordType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceVraag" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeVraag"/>
								<xsd:element ref=":CeVraagRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceAntwoord" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeAntwoord"/>
								<xsd:element ref=":CeAntwoordRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgBestellingAkkoordType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceBestelling" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeBestelling"/>
								<xsd:element ref=":CeBestellingRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgBestellingNietAkkoordType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceBestelling" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeBestelling"/>
								<xsd:element ref=":CeBestellingRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgJaType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceMenuKaartType" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeMenuKaartType"/>
								<xsd:element ref=":CeMenuKaartTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgNeeType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgPlaatsingBestellingType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceBestelling" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeBestelling"/>
								<xsd:element ref=":CeBestellingRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgVraagType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceVraag" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeVraag"/>
								<xsd:element ref=":CeVraagRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgWiltuDeKaartZienType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="identification" type="xsd:string"/>
					<xsd:element name="dateSend" type="xsd:dateTime"/>
					<xsd:element name="dateRead" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatingTransactionMessageID" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean"/>
					<xsd:element name="messageInTransaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":MessageInTransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="ceReactieTermijn" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref=":CeReactieTermijn"/>
								<xsd:element ref=":CeReactieTermijnRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="oberType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="startType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t1_OpnameBestellingType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:integer"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="project">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":ProjectType1"/>
								<xsd:element ref=":ProjectType1Ref"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t2_VraagOberAanKokType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:integer"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="project">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":ProjectType1"/>
								<xsd:element ref=":ProjectType1Ref"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t3_OpdrachtKokType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:integer"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="project">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":ProjectType1"/>
								<xsd:element ref=":ProjectType1Ref"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t4_VraagKokAanKeukenhulpType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="number" type="xsd:integer"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":PersonInRole"/>
								<xsd:element ref=":PersonInRoleRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="project">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref=":ProjectType1"/>
								<xsd:element ref=":ProjectType1Ref"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="verzochtType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="wijzigingHoldType">
		<xsd:complexContent>
			<xsd:extension base=":elementType">
				<xsd:sequence>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="dateReached" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string" minOccurs="0"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime" minOccurs="0"/>
					<xsd:element name="userLaMu" type="xsd:string" minOccurs="0"/>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice minOccurs="0" maxOccurs="unbounded">
								<xsd:group ref=":TransactionTypeInstanceSet"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- complex types for element reference declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppRapportTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppTekeningTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppVideoTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="AppendixGroupTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie1TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie10TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie11TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie12TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie13TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie14TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie15TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie16TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie2TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie3TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie4TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie5TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie6TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie7TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie8TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="BerichtInTransactie9TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeAntwoordTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeBestellingTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeInhoudBestellingTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeInhoudMenuKaartTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeJaNeeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeMenuKaartTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeMenuKaartTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeOrganisatieTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeRapportTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeReactieTermijnTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeSOAPTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeTekeningTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeVideoTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CeVraagTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonInRoleTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectType1TypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardGroupTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardOrganisationTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="StandardPersonTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="aanvaardEindeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="beloofdExecutieTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="keukenhulpTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="klantTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="kokTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="meldingGereedTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgAanbiedingMenuKaartTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgAntwoordTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgBestellingAkkoordTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgBestellingNietAkkoordTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgJaTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgNeeTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgPlaatsingBestellingTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgVraagTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="msgWiltuDeKaartZienTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="oberTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="startTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t1_OpnameBestellingTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t2_VraagOberAanKokTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t3_OpdrachtKokTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="t4_VraagKokAanKeukenhulpTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="verzochtTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="wijzigingHoldTypeRef">
		<xsd:complexContent>
			<xsd:extension base=":elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- group declarations (for SELECT data type definitions) -->
	<xsd:group name="MessageInTransactionTypeInstanceSet">
		<xsd:choice>
			<xsd:element ref=":BerichtInTransactie1"/>
			<xsd:element ref=":BerichtInTransactie1Ref"/>
			<xsd:element ref=":BerichtInTransactie10"/>
			<xsd:element ref=":BerichtInTransactie10Ref"/>
			<xsd:element ref=":BerichtInTransactie11"/>
			<xsd:element ref=":BerichtInTransactie11Ref"/>
			<xsd:element ref=":BerichtInTransactie12"/>
			<xsd:element ref=":BerichtInTransactie12Ref"/>
			<xsd:element ref=":BerichtInTransactie13"/>
			<xsd:element ref=":BerichtInTransactie13Ref"/>
			<xsd:element ref=":BerichtInTransactie14"/>
			<xsd:element ref=":BerichtInTransactie14Ref"/>
			<xsd:element ref=":BerichtInTransactie15"/>
			<xsd:element ref=":BerichtInTransactie15Ref"/>
			<xsd:element ref=":BerichtInTransactie16"/>
			<xsd:element ref=":BerichtInTransactie16Ref"/>
			<xsd:element ref=":BerichtInTransactie2"/>
			<xsd:element ref=":BerichtInTransactie2Ref"/>
			<xsd:element ref=":BerichtInTransactie3"/>
			<xsd:element ref=":BerichtInTransactie3Ref"/>
			<xsd:element ref=":BerichtInTransactie4"/>
			<xsd:element ref=":BerichtInTransactie4Ref"/>
			<xsd:element ref=":BerichtInTransactie5"/>
			<xsd:element ref=":BerichtInTransactie5Ref"/>
			<xsd:element ref=":BerichtInTransactie6"/>
			<xsd:element ref=":BerichtInTransactie6Ref"/>
			<xsd:element ref=":BerichtInTransactie7"/>
			<xsd:element ref=":BerichtInTransactie7Ref"/>
			<xsd:element ref=":BerichtInTransactie8"/>
			<xsd:element ref=":BerichtInTransactie8Ref"/>
			<xsd:element ref=":BerichtInTransactie9"/>
			<xsd:element ref=":BerichtInTransactie9Ref"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="MessageTypeInstanceSet">
		<xsd:choice>
			<xsd:element ref=":msgAanbiedingMenuKaart"/>
			<xsd:element ref=":msgAanbiedingMenuKaartRef"/>
			<xsd:element ref=":msgAntwoord"/>
			<xsd:element ref=":msgAntwoordRef"/>
			<xsd:element ref=":msgBestellingAkkoord"/>
			<xsd:element ref=":msgBestellingAkkoordRef"/>
			<xsd:element ref=":msgBestellingNietAkkoord"/>
			<xsd:element ref=":msgBestellingNietAkkoordRef"/>
			<xsd:element ref=":msgJa"/>
			<xsd:element ref=":msgJaRef"/>
			<xsd:element ref=":msgNee"/>
			<xsd:element ref=":msgNeeRef"/>
			<xsd:element ref=":msgPlaatsingBestelling"/>
			<xsd:element ref=":msgPlaatsingBestellingRef"/>
			<xsd:element ref=":msgVraag"/>
			<xsd:element ref=":msgVraagRef"/>
			<xsd:element ref=":msgWiltuDeKaartZien"/>
			<xsd:element ref=":msgWiltuDeKaartZienRef"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="RoleTypeInstanceSet">
		<xsd:choice>
			<xsd:element ref=":keukenhulp"/>
			<xsd:element ref=":keukenhulpRef"/>
			<xsd:element ref=":klant"/>
			<xsd:element ref=":klantRef"/>
			<xsd:element ref=":kok"/>
			<xsd:element ref=":kokRef"/>
			<xsd:element ref=":ober"/>
			<xsd:element ref=":oberRef"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="TransactionTypeInstanceSet">
		<xsd:choice>
			<xsd:element ref=":t1_OpnameBestelling"/>
			<xsd:element ref=":t1_OpnameBestellingRef"/>
			<xsd:element ref=":t2_VraagOberAanKok"/>
			<xsd:element ref=":t2_VraagOberAanKokRef"/>
			<xsd:element ref=":t3_OpdrachtKok"/>
			<xsd:element ref=":t3_OpdrachtKokRef"/>
			<xsd:element ref=":t4_VraagKokAanKeukenhulp"/>
			<xsd:element ref=":t4_VraagKokAanKeukenhulpRef"/>
		</xsd:choice>
	</xsd:group>

	<!-- enumeration type declarations (for ENUMERATION data type definitions) -->

	<!-- simple type declarations (for TYPE defined data type definitions) -->

	<!-- standard declarations, elementType, simpleType, logical (for each translation) -->
	<xsd:complexType name="elementType">
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="elementTypeRef">
		<xsd:attribute name="idref" type="xsd:IDREF" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="logical">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
