1_technische_documentatie/ISO DIS 29481-2/_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- created with VISI DLL, EXP2XSD part, created by Peter Bonsma  -->
<xsd:schema targetNamespace="http://www.ISO29481_Part_2A.com/schemas/20110819" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:iso29481p2a="http://www.ISO29481_Part_2A.com/schemas/20110819" elementFormDefault="qualified">

	<!-- root element declaration (for SCHEMA definitions) -->
	<xsd:element name="ISO29481_Part_2A">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="iso29481p2a:AppendixType"/>
				<xsd:element ref="iso29481p2a:ComplexElementType"/>
				<xsd:element ref="iso29481p2a:ElementCondition"/>
				<xsd:element ref="iso29481p2a:GroupType"/>
				<xsd:element ref="iso29481p2a:MessageInTransactionType"/>
				<xsd:element ref="iso29481p2a:MessageType"/>
				<xsd:element ref="iso29481p2a:OrganisationType"/>
				<xsd:element ref="iso29481p2a:PersonType"/>
				<xsd:element ref="iso29481p2a:ProjectType"/>
				<xsd:element ref="iso29481p2a:RoleType"/>
				<xsd:element ref="iso29481p2a:SimpleElementType"/>
				<xsd:element ref="iso29481p2a:TransactionPhaseType"/>
				<xsd:element ref="iso29481p2a:TransactionType"/>
				<xsd:element ref="iso29481p2a:UserDefinedType"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<!-- element declarations (for ENTITY definitions) -->
	<xsd:element name="AppendixType" type="iso29481p2a:AppendixTypeType">
		<xsd:annotation>
			<xsd:documentation>An AppendixType contains the definition of an appendix. Which data items should be recorded with an appendix can be specified in the complex element section.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ComplexElementType" type="iso29481p2a:ComplexElementTypeType">
		<xsd:annotation>
			<xsd:documentation>A ComplexElementType contains a set of SimpleElementTypes. Each stated SimpleElementType occurs exactly the number of times mentioned.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElementCondition" type="iso29481p2a:ElementConditionType">
		<xsd:annotation>
			<xsd:documentation>The condition of a SimpleElementType as used within a specific MessageType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GroupType" type="iso29481p2a:GroupTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a group to store appendices sent with a message within a transaction.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageInTransactionType" type="iso29481p2a:MessageInTransactionTypeType">
		<xsd:annotation>
			<xsd:documentation>The occurrence of a MessageType within a TransactionType related to a certain group type (GroupType).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageType" type="iso29481p2a:MessageTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a type of message (MessageType), specifying the structure of the message and which set of SimpleElementType's (via ComplexElementType's) may accompany.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganisationType" type="iso29481p2a:OrganisationTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a specific group of organizations. Generally only one instance will be present in a interaction framework defining the structure of elements that each instance of organisation should expose.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonType" type="iso29481p2a:PersonTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a specific group of persons. Generally only one instance will be present in a interaction framework defining the structure of elements that each instance of person should expose.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProjectType" type="iso29481p2a:ProjectTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a specific group of projects. Generally only one instance will be present in a interaction framework defining the structure of elements that each instance of project should expose.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoleType" type="iso29481p2a:RoleTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a specific role type.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SimpleElementType" type="iso29481p2a:SimpleElementTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a simple element type (SimpleElementType). This element type specifies a property whic may occur within various object structures like for example in MessageType (see also AppendixType, ProjectType, PersonType and OrganisationType). A SimpleElementType is always embedded in a ComplexElementType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionPhaseType" type="iso29481p2a:TransactionPhaseTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a phase related to a transaction. Examples are 'assignment accepted' or 'result part received'.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionType" type="iso29481p2a:TransactionTypeType">
		<xsd:annotation>
			<xsd:documentation>The definition of a type of transaction. A transaction type may reference again other transaction types. A transaction will be initiated by a person belonging to an organisation fulfilling a certain role. At this level the role type of the initiator should be stated (the promoted schema will enforce this). The same holds for the executor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserDefinedType" type="iso29481p2a:UserDefinedTypeType">
		<xsd:annotation>
			<xsd:documentation>A specification of a data type (to be used in a SimpleElementType). This data type encapsulates fill in areas in the final message, like for example a Dutch zip code starts always with four digits and then two characters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- element reference declarations (for ENTITY definitions) -->
	<xsd:element name="AppendixTypeRef" type="iso29481p2a:AppendixTypeTypeRef"/>
	<xsd:element name="ComplexElementTypeRef" type="iso29481p2a:ComplexElementTypeTypeRef"/>
	<xsd:element name="ElementConditionRef" type="iso29481p2a:ElementConditionTypeRef"/>
	<xsd:element name="GroupTypeRef" type="iso29481p2a:GroupTypeTypeRef"/>
	<xsd:element name="MessageInTransactionTypeRef" type="iso29481p2a:MessageInTransactionTypeTypeRef"/>
	<xsd:element name="MessageTypeRef" type="iso29481p2a:MessageTypeTypeRef"/>
	<xsd:element name="OrganisationTypeRef" type="iso29481p2a:OrganisationTypeTypeRef"/>
	<xsd:element name="PersonTypeRef" type="iso29481p2a:PersonTypeTypeRef"/>
	<xsd:element name="ProjectTypeRef" type="iso29481p2a:ProjectTypeTypeRef"/>
	<xsd:element name="RoleTypeRef" type="iso29481p2a:RoleTypeTypeRef"/>
	<xsd:element name="SimpleElementTypeRef" type="iso29481p2a:SimpleElementTypeTypeRef"/>
	<xsd:element name="TransactionPhaseTypeRef" type="iso29481p2a:TransactionPhaseTypeTypeRef"/>
	<xsd:element name="TransactionTypeRef" type="iso29481p2a:TransactionTypeTypeRef"/>
	<xsd:element name="UserDefinedTypeRef" type="iso29481p2a:UserDefinedTypeTypeRef"/>

	<!-- complex types for element declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppendixTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexElementTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="simpleElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:SimpleElementType"/>
								<xsd:element ref="iso29481p2a:SimpleElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElementConditionType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="condition" type="xsd:string"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElement" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="simpleElement" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:SimpleElementType"/>
								<xsd:element ref="iso29481p2a:SimpleElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="messageInTransaction" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:MessageInTransactionType"/>
								<xsd:element ref="iso29481p2a:MessageInTransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageInTransactionTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="requiredNotify" type="xsd:integer"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="received" type="xsd:boolean"/>
					<xsd:element name="send" type="xsd:boolean"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="openSecondaryTransactionsAllowed" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="firstMessage" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="message">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:MessageType"/>
								<xsd:element ref="iso29481p2a:MessageTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="previous" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:MessageInTransactionType"/>
								<xsd:element ref="iso29481p2a:MessageInTransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:TransactionType"/>
								<xsd:element ref="iso29481p2a:TransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transactionPhase" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:TransactionPhaseType"/>
								<xsd:element ref="iso29481p2a:TransactionPhaseTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="group">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:GroupType"/>
								<xsd:element ref="iso29481p2a:GroupTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixTypes" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:AppendixType"/>
								<xsd:element ref="iso29481p2a:AppendixTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixTypes" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:AppendixType"/>
								<xsd:element ref="iso29481p2a:AppendixTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganisationTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="namespace" type="xsd:string"/>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:ComplexElementType"/>
								<xsd:element ref="iso29481p2a:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoleTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityScope" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityTask" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilitySupportTask" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityFeedback" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SimpleElementTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="interfaceType" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="valueList" type="xsd:string" minOccurs="0"/>
					<xsd:element name="userDefinedType">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:UserDefinedType"/>
								<xsd:element ref="iso29481p2a:UserDefinedTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionPhaseTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="subTransactions" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:TransactionType"/>
								<xsd:element ref="iso29481p2a:TransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:RoleType"/>
								<xsd:element ref="iso29481p2a:RoleTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="iso29481p2a:RoleType"/>
								<xsd:element ref="iso29481p2a:RoleTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="appendixTypes" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="iso29481p2a:AppendixType"/>
								<xsd:element ref="iso29481p2a:AppendixTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedTypeType">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLaMu" type="xsd:dateTime"/>
					<xsd:element name="userLaMu" type="xsd:string"/>
					<xsd:element name="baseType" type="xsd:string"/>
					<xsd:element name="xsdRestriction" type="xsd:string" minOccurs="0"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- complex types for element reference declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppendixTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexElementTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElementConditionTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageInTransactionTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganisationTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoleTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SimpleElementTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionPhaseTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="iso29481p2a:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- group declarations (for SELECT data type definitions) -->

	<!-- enumeration type declarations (for ENUMERATION data type definitions) -->

	<!-- simple type declarations (for TYPE defined data type definitions) -->

	<!-- standard declarations, elementType, simpleType, logical (for each translation) -->
	<xsd:complexType name="elementType">
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="elementTypeRef">
		<xsd:attribute name="idref" type="xsd:IDREF" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="logical">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
