1. Technische documentatie/Archief/VISI 1.2 definitie/_3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- created with VISI DLL, EXP2XSD part, created by Peter Bonsma  -->
<xsd:schema targetNamespace="http://www.visi.nl/schemas/20071218" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:visi="http://www.visi.nl/schemas/20071218" elementFormDefault="qualified">

	<!-- root element declaration (for SCHEMA definitions) -->
	<xsd:element name="visiXML_VISI_Systematics">
		<xsd:complexType>
			<xsd:choice maxOccurs="unbounded">
				<xsd:element ref="visi:AppendixType"/>
				<xsd:element ref="visi:ComplexElementType"/>
				<xsd:element ref="visi:ElementCondition"/>
				<xsd:element ref="visi:GroupType"/>
				<xsd:element ref="visi:MessageInTransactionType"/>
				<xsd:element ref="visi:MessageType"/>
				<xsd:element ref="visi:OrganisationType"/>
				<xsd:element ref="visi:PersonType"/>
				<xsd:element ref="visi:ProjectType"/>
				<xsd:element ref="visi:RoleType"/>
				<xsd:element ref="visi:SimpleElementType"/>
				<xsd:element ref="visi:TransactionPhaseType"/>
				<xsd:element ref="visi:TransactionType"/>
				<xsd:element ref="visi:UserDefinedType"/>
			</xsd:choice>
		</xsd:complexType>
	</xsd:element>

	<!-- element declarations (for ENTITY definitions) -->
	<xsd:element name="AppendixType" type="visi:AppendixTypeType">
		<xsd:annotation>
			<xsd:documentation>Een AppendixType bevat de definitie van een bijlage. Welke gegevens bijgehouden worden bij een bijlage is te definieren in het xml veld.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ComplexElementType" type="visi:ComplexElementTypeType">
		<xsd:annotation>
			<xsd:documentation>Een ComplexElementType is een verzameling van SimpleElementTypes, elk genoemd SimpleElementType komt precies het aantal keer voor dat hij genoemd wordt.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ElementCondition" type="visi:ElementConditionType">
		<xsd:annotation>
			<xsd:documentation>De conditie op een SimpleElementType gebruikt binnen een specifiek MessageType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="GroupType" type="visi:GroupTypeType">
		<xsd:annotation>
			<xsd:documentation>De definitie van de groep voor het opslaan van bijlagen verzonden met een bericht binnen een transactie.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageInTransactionType" type="visi:MessageInTransactionTypeType">
		<xsd:annotation>
			<xsd:documentation>De instantiatie van een MessageType binnen een TransactionType behorende bij een bepaald groep type (GroupType).</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="MessageType" type="visi:MessageTypeType">
		<xsd:annotation>
			<xsd:documentation>De definitie van een type bericht (MessageType), hierin is ook gedefineerd hoe dit bericht gestructureerd is en welke verzameling van SimpleElementType's (via ComplexElementType's) hierbij horen.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="OrganisationType" type="visi:OrganisationTypeType">
		<xsd:annotation>
			<xsd:documentation>Definitie van een bepaalde groep organisaties, in het algemeen 1 instance aanwezig in een raamwerk met als reden het definieren van de structuur van elementen die door voor elke instance van dit tot object gepromote OrganisationType ingevuld moet worden.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="PersonType" type="visi:PersonTypeType">
		<xsd:annotation>
			<xsd:documentation>Definitie van een bepaalde groep personen, in het algemeen 1 instance aanwezig in een raamwerk met als reden het definieren van de structuur van elementen die door voor elke instance van dit tot object gepromote PersonType ingevuld moet worden.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="ProjectType" type="visi:ProjectTypeType">
		<xsd:annotation>
			<xsd:documentation>Definitie van een bepaalde groep projecten, in het algemeen 1 instance aanwezig in een raamwerk met als reden het definieren van de structuur van elementen die door voor elke instance van dit tot object gepromote ProjectType ingevuld moet worden.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="RoleType" type="visi:RoleTypeType">
		<xsd:annotation>
			<xsd:documentation>De definitie van een bepaald rol type, belangrijk voor TransactionType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SimpleElementType" type="visi:SimpleElementTypeType">
		<xsd:annotation>
			<xsd:documentation>Een specificatie van een simpel element type (SimpleElementType). Dit ElementType beschrijft een eigenschap die binnen verschillende objectstructuren zoals bijv. in MessageType kan voorkomen (zie ook AppendixType, ProjectType, PersonType en OrganisationType), de relatie is dan altijd via ComplexElementType.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionPhaseType" type="visi:TransactionPhaseTypeType">
		<xsd:annotation>
			<xsd:documentation>Het definieren van de transactie fase types waarin een transactie zich kan bevinden. Voorbeelden zijn 'opdracht geaccepteerd' en 'deelresultaat ontvangen'.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TransactionType" type="visi:TransactionTypeType">
		<xsd:annotation>
			<xsd:documentation>De definitie van een type transactie, een transtactie type kan tevens zelf weer naar transactie types verwijzen. Een transactie wordt geiniteerd door een persoon behorend bij een oragnisatie in een bepaalde rol, op dit niveau geven we aan welk roltype deze initiator moet bezitten (het gepromote schema zal dit vervolgens afdwingen) idem voor executor.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="UserDefinedType" type="visi:UserDefinedTypeType">
		<xsd:annotation>
			<xsd:documentation>Een specificatie van een data type (v.e. SimpleElementType). Dit DataType geeft de vorm aan invulvelden in het uiteindelijk bericht, zoals bijvoorbeeld een postcode begint altijd met 4 cijfers en dan volgen verplicht 2 letters.</xsd:documentation>
		</xsd:annotation>
	</xsd:element>

	<!-- element reference declarations (for ENTITY definitions) -->
	<xsd:element name="AppendixTypeRef" type="visi:AppendixTypeTypeRef"/>
	<xsd:element name="ComplexElementTypeRef" type="visi:ComplexElementTypeTypeRef"/>
	<xsd:element name="ElementConditionRef" type="visi:ElementConditionTypeRef"/>
	<xsd:element name="GroupTypeRef" type="visi:GroupTypeTypeRef"/>
	<xsd:element name="MessageInTransactionTypeRef" type="visi:MessageInTransactionTypeTypeRef"/>
	<xsd:element name="MessageTypeRef" type="visi:MessageTypeTypeRef"/>
	<xsd:element name="OrganisationTypeRef" type="visi:OrganisationTypeTypeRef"/>
	<xsd:element name="PersonTypeRef" type="visi:PersonTypeTypeRef"/>
	<xsd:element name="ProjectTypeRef" type="visi:ProjectTypeTypeRef"/>
	<xsd:element name="RoleTypeRef" type="visi:RoleTypeTypeRef"/>
	<xsd:element name="SimpleElementTypeRef" type="visi:SimpleElementTypeTypeRef"/>
	<xsd:element name="TransactionPhaseTypeRef" type="visi:TransactionPhaseTypeTypeRef"/>
	<xsd:element name="TransactionTypeRef" type="visi:TransactionTypeTypeRef"/>
	<xsd:element name="UserDefinedTypeRef" type="visi:UserDefinedTypeTypeRef"/>

	<!-- complex types for element declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppendixTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexElementTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="simpleElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:SimpleElementType"/>
								<xsd:element ref="visi:SimpleElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElementConditionType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="condition" type="xsd:string"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElement" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="simpleElement" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:SimpleElementType"/>
								<xsd:element ref="visi:SimpleElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="messageInTransaction" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:MessageInTransactionType"/>
								<xsd:element ref="visi:MessageInTransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageInTransactionTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="requiredNotify" type="xsd:integer"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="received" type="xsd:boolean"/>
					<xsd:element name="send" type="xsd:boolean"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="initiatorToExecutor" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="openSecondaryTransactionsAllowed" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="message">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:MessageType"/>
								<xsd:element ref="visi:MessageTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="previous" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:MessageInTransactionType"/>
								<xsd:element ref="visi:MessageInTransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transaction">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:TransactionType"/>
								<xsd:element ref="visi:TransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="transactionPhase" minOccurs="0">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:TransactionPhaseType"/>
								<xsd:element ref="visi:TransactionPhaseTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="group">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:GroupType"/>
								<xsd:element ref="visi:GroupTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganisationTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="complexElements" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:ComplexElementType"/>
								<xsd:element ref="visi:ComplexElementTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoleTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityScope" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityTask" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilitySupportTask" type="xsd:string" minOccurs="0"/>
					<xsd:element name="responsibilityFeedback" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SimpleElementTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="interfaceType" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="valueList" type="xsd:string" minOccurs="0"/>
					<xsd:element name="userDefinedType">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:UserDefinedType"/>
								<xsd:element ref="visi:UserDefinedTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionPhaseTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="startDate" type="xsd:dateTime"/>
					<xsd:element name="endDate" type="xsd:dateTime"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="category" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="code" type="xsd:string" minOccurs="0"/>
					<xsd:element name="result" type="xsd:string" minOccurs="0"/>
					<xsd:element name="basePoint" type="xsd:string" minOccurs="0"/>
					<xsd:element name="subTransactions" minOccurs="0">
						<xsd:complexType>
							<xsd:choice maxOccurs="unbounded">
								<xsd:element ref="visi:TransactionType"/>
								<xsd:element ref="visi:TransactionTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="initiator">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:RoleType"/>
								<xsd:element ref="visi:RoleTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="executor">
						<xsd:complexType>
							<xsd:choice>
								<xsd:element ref="visi:RoleType"/>
								<xsd:element ref="visi:RoleTypeRef"/>
							</xsd:choice>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedTypeType">
		<xsd:complexContent>
			<xsd:extension base="visi:elementType">
				<xsd:sequence>
					<xsd:element name="description" type="xsd:string"/>
					<xsd:element name="state" type="xsd:string"/>
					<xsd:element name="dateLamu" type="xsd:dateTime"/>
					<xsd:element name="userLamu" type="xsd:string"/>
					<xsd:element name="baseType" type="xsd:string"/>
					<xsd:element name="xsdRestriction" type="xsd:string" minOccurs="0"/>
					<xsd:element name="language" type="xsd:string" minOccurs="0"/>
					<xsd:element name="helpInfo" type="xsd:string" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- complex types for element reference declarations (for ENTITY definitions) -->
	<xsd:complexType name="AppendixTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComplexElementTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ElementConditionTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="GroupTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageInTransactionTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="MessageTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="OrganisationTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PersonTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProjectTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="RoleTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SimpleElementTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionPhaseTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransactionTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="UserDefinedTypeTypeRef">
		<xsd:complexContent>
			<xsd:extension base="visi:elementTypeRef"/>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- group declarations (for SELECT data type definitions) -->

	<!-- enumeration type declarations (for ENUMERATION data type definitions) -->

	<!-- simple type declarations (for TYPE defined data type definitions) -->

	<!-- standard declarations, elementType, simpleType, logical (for each translation) -->
	<xsd:complexType name="elementType">
		<xsd:attribute name="id" type="xsd:ID" use="required"/>
	</xsd:complexType>
	<xsd:complexType name="elementTypeRef">
		<xsd:attribute name="idref" type="xsd:IDREF" use="required"/>
	</xsd:complexType>
	<xsd:simpleType name="logical">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="true"/>
			<xsd:enumeration value="false"/>
			<xsd:enumeration value="unknown"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
